

/*Div container za kartu*/
#divMap {
    border: 2px solid #cccccc;
    position: absolute;
    left: 150px;
    right: 0%;
    top: 107px;
    bottom: 0%;
    height: 100%;
    background: #cccccc;
    z-index: 5;
}
/*Div container za opcije u sidebaru*/
#divOptions {
    /*border: 2px solid #cccccc;*/
    background-color: black;
    position: absolute;
    left: 0px;
    right: 100% - 150px;
    top: 107px;
    bottom: 0%;
    background: black;
    z-index: 6;
}






/*Ostale postavke su defaultne iz templatea*/
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: black;
    font-family: 'Century Gothic', sans-serif;
}

label.labelLeft {
    display: inline-block;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 2px;
}


/*Knez*/
.slider-value {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px; /* Adjust the distance from the slider handle */
    background-color: white;
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 5px;
}