@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p class="lead">
            Cilj aplikacije je razvoj inovativnog sustava koji analizira prometne tokove prema kriterijima vremena putovanja i energetske učinkovitosti.
            Aplikacija modelirajući stvarnu cestovnu mrežu stvara graf koji se sastoji od digitalne prometne karte koja je pružena od tvrtke MIREO d.d.
            Na grafu se za određivanje vremena putovanja koriste razvijeni profili brzina u sklopu projekta SORDITO, a za određivanje potrošnje energije
            koristi se digitalni visinski model Copernicus.
        </p>
        <p class="lead">
            Aplikacija u sebi ima implementirane Dijkstrin algoritam i Bellman-Fordov algoritam koji služe za pronalaženje najkraćih vremenskih i energetskih ruta na prometnoj mreži.
            Za ubrzanje izvršavanja algoritama primjenjuje se Fibonacci heap struktura podataka.
        </p>
        <p class="lead">
            Aplikacija sadrži interaktivno grafičko sučelje koje omogućuje prostornu vizualizaciju pomoću kontura. Kroz grafičko web sučelje korisnik može interaktivno mijenjati početnu
            točku te vrste kontura, parametre vremena i energije.
        </p>
        <br />
        <br>
        <p class="lead">
            The goal of the application is the development of an innovative system that analyzes traffic flows according to the criteria of travel time and energy efficiency.
            By modeling the real road network, the application creates a graph consisting of a digital traffic map provided by the company MIREO d.d.
            On the graph, the speed profiles developed as part of the SORDITO project are used to determine the travel time, and to determine the energy consumption
            the Copernicus digital elevation model is used.
        </p>
        <br />
        <br>
        <p class="lead">
            The application has Dijkstra's algorithm and Bellman-Ford's algorithm implemented in it, which are used to find the shortest time and energy routes on the traffic network.
            Fibonacci heap data structure is applied to speed up the execution of algorithms.
        </p>
        <br />
        <br>
        <p class="lead">
            The application contains an interactive graphic interface that enables spatial visualization using contours. Through the graphical web interface, the user can interactively change the initial
            point and contour type, parameters of time and energy.
        </p>
        <br />
        <br>
        <p class="lead">
            Example:
        </p>
        <br />
        <br>

        <br />
        <br>
        <br />
        <br>
        <img src="~/Content/Images/Primjer_SP.png"
             alt="This is a picture of example"
             height="600">

        <br />
        <br>
        <br />
        <br>
        <br />
        <br>
        <p class="lead">
            Mentors:
        </p>
        <p class="lead">
            - prof. dr. sc. Tonči Carić
        </p>
        <p class="lead">
            - dr. sc. Tomislav Erdelić
        </p>
        <br />
        <br>
        <p class="lead">
            Creators:
        </p>
        <p class="lead">
            - Ante Dumančić
        </p>
        <p class="lead">
            - Dominik Knez
        </p>
        <p class="lead">
            - Marko Kukor
        </p>


    </section>

</main>