@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">

        <p class="lead">
            Ovo je studentski projekt čiji je cilj bio napraviti sustav za analizu prometnih tokova prema kriterijima vremena putovanja i energetske učinkovitosti.

            Modelirajući stvarnu cestovnu mrežu grafom,
            moguće je primijeniti algoritme za pronalazak najkraćeg puta na grafu. Za modeliranje grafa
            koristiti će se digitalna prometna karta pružena od tvrtke MIREO d.d. Za određivanje vremena
            putovanja kao težina na grafu iskoristiti će se razvijeni profili brzina u sklopu projekta SORDITO,
            dok će se za određivanje potrošnje energije koristiti digitalni visinski model Copernicus te će se
            odabrati karakteristike jednog električnog vozila. U sklopu projekta će se modificirati i
            implementirati Dijkstrin algoritam i Bellman-Fordov algoritam za pronalazak vremenski-ovisnih
            najkraćih vremenskih ruta i najkraćih energetskih ruta na prometnoj mreži. Za značajno ubrzanje
            izvršavanja algoritama primijeniti će se Fibonacci heap struktura podataka.
        </p>
        <br/>
        <br>
        <p class="lead">
            This is a student project whose goal was to create a system for analyzing traffic flows according to the criteria of travel time and energy efficiency.

            By modeling the real road network with a graph,
            it is possible to apply algorithms for finding the shortest path on the graph. For graph modeling
            the digital traffic map provided by the company MIREO d.d. will be used. To determine the time
            the speed profiles developed as part of the SORDITO project will be used as the weight of trips on the graph,
            while the Copernicus digital elevation model will be used to determine energy consumption and will
            choose the characteristics of an electric vehicle. As part of the project, it will also be modified
            implement Dijkstra's algorithm and Bellman-Ford's algorithm for finding time-dependent
            shortest time routes and shortest energy routes on the transport network. For significant acceleration
            execution of the algorithms, the Fibonacci heap data structure will be applied.
        </p>


    </section>

</main>