@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/your-kit-id.js" crossorigin="anonymous"></script>

<link href="~/Content/ol.css" rel="stylesheet" />
<link href="~/Content/siteMap.css" rel="stylesheet" />

<script src="~/Content/ol.js"></script>

<div id="divMap"></div>






<div id="divOptions" style="background-color: white; font-family: serif; font-weight: bold; color: dodgerblue;">

    <label>Latitude</label>
    <input type="text" id="txtLatitude" readonly="true">
    <br>
    <label>Longitude</label>
    <input type="text" id="txtLongitude" readonly="true">
    <br>
    <br>
    <select id="varKonture">
        <option value="Concave Hull">Concave Hull</option>
        <option value="Convex Hull">Convex Hull</option>
    </select>
    <br>
    <br>







    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <style>
            .main-button, .side-button {
                /* Removed margin-bottom */
                display: flex;
                align-items: center;
                background-color: black; /* Set background color of buttons */
                color: white; /* Set text color of buttons */
                border-color: black; /* Set border color of buttons */
                width: 100%; /* Set the width to 100% */
                padding: 0px; /* Set padding */
                height: 100px; /* Set the height of the buttons */
            }
                .main-button i {
                    font-size: 20px; /* Set the font size for the main buttons' icons */
                    margin-right: 10px; /* Adjust margin as needed */
                }

            .panel {
                display: none;
                margin-top: 0px;
            }

            .side-button {
                display: block;
                margin-top: 0; /* Remove margin between buttons */
            }
        </style>
        <title>Button Panel Example</title>
    </head>
    <body>

        <div class="d-grid gap">
            <button class="btn btn-lg btn-primary main-button" type="button" onclick="togglePanel('panel1')">
                <i class="fa-solid fa-filter"></i> Attributes
            </button>
            <div id="panel1" class="panel"></div>
            <button class="btn btn-lg btn-primary main-button" type="button" onclick="togglePanel('panel2')">
                <i class="fa-solid fa-shapes"></i> Geometry
            </button>
            <div id="panel2" class="panel"></div>
        </div>

        <script>
            function togglePanel(panelId) {
                const panel = document.getElementById(panelId);

                if (panel.style.display === 'none' || panel.style.display === '') {
                    panel.style.display = 'block';

                    if (panelId === 'panel1') {
                        // Create two buttons for the first panel
                        const panelButton1 = createPanelButton('Time', 'side-button', 'fa-regular fa-circle', 'fa-regular fa-circle-xmark', 'panelButton1', 'panelButton2');
                        const panelButton2 = createPanelButton('Energy', 'side-button', 'fa-regular fa-circle', 'fa-regular fa-circle-xmark', 'panelButton2', 'panelButton1');

                        // Append the buttons to the panel
                        panel.appendChild(panelButton1);
                        panel.appendChild(panelButton2);
                    } else if (panelId === 'panel2') {
                        // Create two buttons for the second panel
                        const panelButton3 = createPanelButton('Concave', 'side-button', 'fa-regular fa-circle', 'fa-regular fa-circle-xmark', 'panelButton3', 'panelButton4');
                        const panelButton4 = createPanelButton('Convex', 'side-button', 'fa-regular fa-circle', 'fa-regular fa-circle-xmark', 'panelButton4', 'panelButton3');

                        // Append the buttons to the panel
                        panel.appendChild(panelButton3);
                        panel.appendChild(panelButton4);
                    }
                } else {
                    panel.style.display = 'none';

                    // Remove the buttons from the panel
                    while (panel.firstChild) {
                        panel.removeChild(panel.firstChild);
                    }
                }
            }

            function createPanelButton(text, className, defaultIconClass, toggleIconClass, buttonId, otherButtonId) {
                const panelButton = document.createElement('button');
                panelButton.className = `btn btn-lg btn-primary ${className}`;
                panelButton.type = 'button';
                panelButton.id = buttonId;

                // Create the default icon element
                const defaultIconElement = document.createElement('i');
                defaultIconElement.className = defaultIconClass;
                defaultIconElement.style.fontSize = '15px';

                // Append the default icon to the button
                panelButton.appendChild(defaultIconElement);

                // Append the text to the button
                panelButton.innerHTML += ` ${text}`;

                // Add a click event listener to the button to handle its action
                panelButton.addEventListener('click', function () {
                    console.log(`${text} clicked`);

                    // Get the other button in the panel
                    const otherButton = document.getElementById(otherButtonId);

                    // Set the clicked button icon to the toggle icon
                    panelButton.firstChild.className = toggleIconClass;

                    // Set the other button icon back to the default icon
                    otherButton.firstChild.className = defaultIconClass;

                    // Add your custom logic here
                });

                return panelButton;
            }
        </script>

    </body>
</html>






















<fieldset class="form-group">
    <legend class="mt-4">Attributes</legend>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="optionsRadios" id="time" value="time">
        <label class="form-check-label" for="optionsRadios1">
            Time
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="optionsRadios" id="energy" value="energy">
        <label class="form-check-label" for="optionsRadios2">
            Energy
        </label>
    </div>
</fieldset>

<input type="hidden" id="selectedAttribute" name="selectedAttribute" value="">







<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3PBnv4efUshCtN+flQ02Orj8ajCfbqFu1A6LuhMabOfFQyMOh" crossorigin="anonymous">
    <style>
        .slider-value {
            position: absolute;
            bottom: 30px; /* Adjust the distance from the slider handle */
            background-color: white;
            border: 1px solid #ccc;
            padding: 3px;
            border-radius: 5px;
            white-space: nowrap; /* Prevent text from wrapping */
            text-align: center; /* Center text within the box */
            width: 30px; /* Adjust the width of the box */
            transform: translateX(-50%); /* Center the box horizontally */
            display: none; /* Initially hide the box */
        }

        .slider-label {
            text-align: left; /* Align labels to the left */
        }

        .slider-text {
            text-align: right; /* Align text below sliders to the right */
            margin-top: 8px; /* Add top margin for better spacing */
        }

        .slider-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
    <title>Slider Example</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <fieldset class="form-group">
                    <legend class="mt-4 slider-label">Time</legend>
                    <div class="slider-container">
                        <div class="position-relative">
                            <input type="range" class="form-range" min="0" max="20" step="1" id="customRange1" oninput="updateValue('value1', this.value, 'label1')">
                            <div id="value1" class="slider-value"></div>
                        </div>
                        <br />
                        <span class="slider-text">in minutes</span>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <fieldset class="form-group">
                    <legend class="mt-4 slider-label">Energy</legend>
                    <div class="slider-container">
                        <div class="position-relative">
                            <input type="range" class="form-range" min="0" max="2" step="0.05" id="customRange2" oninput="updateValue('value2', this.value, 'label2')">
                            <div id="value2" class="slider-value"></div>
                        </div>
                        <br />
                        <span class="slider-text">in kWh</span>
                    </div>
                </fieldset>
            </div>
        </div>
        <input type="hidden" id="hidden1" name="customRange1">
        <input type="hidden" id="hidden2" name="customRange2">
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></script>

    <script>
        function updateValue(elementId, value, labelId) {
            const slider = document.getElementById(elementId.replace('value', 'customRange'));
            const sliderValueElement = document.getElementById(elementId);
            const percent = (slider.value - slider.min) / (slider.max - slider.min);
            const offsetLeft = percent * slider.offsetWidth;
            sliderValueElement.style.left = slider.offsetLeft + offsetLeft + 'px';

            // Format the value for the energy slider
            const formattedValue = (elementId === 'value2') ? value.replace('.', ',') : value;

            sliderValueElement.innerText = formattedValue;

            // Show the box when the slider is being used
            sliderValueElement.style.display = 'block';

            // Update the hidden input value
            const hiddenInput = document.getElementById('hidden' + elementId.charAt(elementId.length - 1));
            hiddenInput.value = formattedValue;

            // Automatically submit the form when slider values change
            submitForm();
        }
    </script>
</body>
</html>



<br>
<button class="btn btn-primary" type="button" style="width: 45%; margin: 2px; padding: 3px" + onclick="computeConture()">
    Start
</button>






</div>



@*Glavni dio javascript koda*@
<script type="text/javascript">
    var longitude = 0
    var latitude =0
    var plotedObjects = [];
    var plotedVectorSources = [];

    var map = new ol.Map({
        interactions: ol.interaction.defaults({ doubleClickZoom: false }),
        target: 'divMap',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            })
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([15.981179, 45.805281]),
            zoom: 12
        })
    });

    var vectorSource = new ol.source.Vector({});

    map.on('dblclick', function (event) {
        var koordinate = ol.proj.toLonLat(event.coordinate);

        longitude = koordinate[0];
        latitude = koordinate[1];

        document.getElementById('txtLatitude').value = latitude;
        document.getElementById('txtLongitude').value = longitude;



    });

    //Varijable



    //varijabla za Odabir vremena


    var dropdown2 = document.getElementById('varKonture');
    var selectedVarKonture = '';

    selectedVarKonture = dropdown2.options[0].value;
    dropdown2.addEventListener("change", function () {
        selectedVarKonture = dropdown2.options[dropdown.selectedIndex].value
    });



    function computeConture() {

        // Event listeners for radio buttons
        $(document).ready(function () {
            $('input[name="optionsRadios"]').on('change', function () {
                var selectedType = $(this).val();
                console.log('Radio button changed:', selectedType);
                $('#selectedAttribute').val(selectedType);
            });
        });

        console.log('Longitude:', longitude);
        console.log('Latitude:', latitude);
        console.log('Selected Type:', $('#selectedAttribute').val());
        console.log('Selected Var Time:', $('#hidden1').val());
        console.log('Selected Var Energy:', $('#hidden2').val());
        console.log('Selected Var Konture:', selectedVarKonture);

        $.ajax({
             type: "POST",
            url: "@Url.Action("ComputeConture")",
            data: { longitude: longitude, latitude: latitude, selectedType: $('#selectedAttribute').val(), selectedVarTime: $('#hidden1').val(), selectedVarEnergy: $('#hidden2').val(), selectedVarKonture: selectedVarKonture, strVrijemePocetka: 0 },
            success: succesfullCall,//Funkcija koja se poziva ako je poziv bio uspješan
            failure: function (response) {
            //Ispiši grešku u malom prozorčiću
            alert(response.error);
            }
        });

    }

    function succesfullCall(response) {
        console.log(response);

        var wkt = response;

        // Parse the WKT to create a geometry
        var polygonGeometry = new ol.format.WKT().readGeometry(wkt, {
            dataProjection: 'EPSG:4326', // WGS84
            featureProjection: 'EPSG:3857' // Spherical Mercator
        });

        console.log(polygonGeometry);

        // Create a feature using the polygon geometry
        var polygonFeature = new ol.Feature(polygonGeometry);

        // Create a vector source and add the feature to it
        var vectorSource = new ol.source.Vector({
            features: [polygonFeature]
        });

        color = random_rgba();
        console.log(color);
        // Define the style for the vector layer
        var vectorStyle = new ol.style.Style({
            fill: new ol.style.Fill({
                color: color// Red color with 50% transparency
            }),
            stroke: new ol.style.Stroke({
                color: color,
                width: 2
            })
        });

        // Create a vector layer with the vector source and the defined style
        var vectorLayer = new ol.layer.Vector({
            source: vectorSource,
            style: vectorStyle
        });


        // Add the vector layer to the map
        map.addLayer(vectorLayer);
    }

    // Funkcija za stvaranje slučajne boje
    function random_rgba() {
        var o = Math.round, r = Math.random, s = 255;
        return 'rgba(' + o(r() * s) + ',' + o(r() * s) + ',' + o(r() * s) + ',0.5)';
    }


</script>