@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link href="~/Content/ol.css" rel="stylesheet" />
<link href="~/Content/siteMap.css" rel="stylesheet" />

<script src="~/Content/ol.js"></script>

<div id="divMap"></div>

<div id="divOptions" style="background-color: white; font-family: serif; font-weight: bold; color: dodgerblue;">

    <input type="text" id="txtLatitude" readonly="true">
    <br>
    <input type="text" id="txtLongitude" readonly="true">
    <br>
    <br>
    <label>Attributes:</label>
    <br>
    <input type="radio" id="time" value="time" name="Attributes">
    <label>Time</label>
    <br>
    <input type="radio" id="energy" value="energy" name="Attributes">
    <label>Energy</label>
    <br>
    <br>
    <label>Choose time:</label>
    <br>
    <select id="varTime">
        <option value="5">5 min</option>
        <option value="10">10 min</option>
        <option value="15">15 min</option>
        <option value="20">20 min</option>
        <option value="25">25 min</option>
        <option value="30">30 min</option>
        <option value="35">35 min</option>
        <option value="40">40 min</option>
        <option value="45">45 min</option>
        <option value="50">50 min</option>
        <option value="55">55 min</option>
        <option value="60">60 min</option>
    </select>
    <br>
    <br>
    <label>Choose Energy:</label>
    <br>
    <input type="text" id="varEnergy" placeholder="Energy in kJ">
    <br>
    <br>
    <button class="btn btn-primary" type="button" style="width: 100%; margin: 2px; padding: 3px" + onclick="computeConture()">
        Start
    </button>

</div>

@*Glavni dio javascript koda*@
<script type="text/javascript">
    var longitude = 0
    var latitude =0
    var plotedObjects = [];
    var plotedVectorSources = [];

    var map = new ol.Map({
        interactions: ol.interaction.defaults({ doubleClickZoom: false }),
        target: 'divMap',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            })
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([15.981179, 45.805281]),
            zoom: 12
        })
    });

    var vectorSource = new ol.source.Vector({});

    map.on('dblclick', function (event) {
        var koordinate = ol.proj.toLonLat(event.coordinate);

        longitude = koordinate[0];
        latitude = koordinate[1];

        document.getElementById('txtLatitude').value = latitude;
        document.getElementById('txtLongitude').value = longitude;



    });

    //Varijable



    //varijabla za Odabir vremena
    var dropdown = document.getElementById('varTime');
    var selectedVarTime = '';

    dropdown.addEventListener("change", function () {
        selectedVarTime = dropdown.options[dropdown.selectedIndex].value
    });




    function computeConture() {
        //varijabla za radio gumb
        var selectedType = document.querySelector('input[name="Attributes"]:checked').value;

        //varijabla za Odabir energije
        var selectedVarEnergy = document.getElementById("varEnergy").value;

        //console.log("Tip")
        //console.log(selectedType)
        //console.log("Energija")
        //console.log(selectedVarEnergy)
        //console.log("Vrijeme")
        //console.log(selectedVarTime)
        //console.log(longitude);
        //console.log(latitude);

        $.ajax({
             type: "POST",
             url: "@Url.Action("ComputeConture")",
            data: { longitude: longitude, latitude: latitude, selectedType: selectedType, selectedVarTime: selectedVarTime, selectedVarEnergy: selectedVarEnergy },
            success: succesfullCall,//Funkcija koja se poziva ako je poziv bio uspješan
            failure: function (response) {
            //Ispiši grešku u malom prozorčiću
            alert(response.error);
            }
        });

    }

    function succesfullCall(response) {
        console.log(response);
    }


</script>